{% load static %}
<section class="bg-light">
    <div class="container pb-5">
        <div class="row">
            <div class="col-lg-5 mt-5">
                <div class="card mb-3">
                    {% if articulos.imagen %}
                                        <img class="card-img img-fluid" src="{{ articulos.imagen.url }}" alt="">
                    {% else %}
                        <img class="img-fluid" src="{% static '/assets/img/banner_img_01.jpg' %}" alt="">
                    {% endif %}
                </div>
            </div>
